.messagebox__popup{
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  overflow: auto;
}
.messagebox__popup_content{
  width: 156px;
  height: 156px;
  padding:10px;
  background-color: #667787;
  border-radius:15px;
  box-shadow: 0px 0px 10px #000;
  z-index: 8;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  
  transition: .5s ease-in-out;
}

.messagebox__popup_ok_button {
  text-decoration: none;
  background-color: #4B5E70;
  position: relative;
  text-align: center;
  height: 70px;
  width: 100%;
  color: white;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  line-height: 70px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.messagebox__popup_ok_button:hover {
  filter: brightness(125%);
}

.messagebox__popup_ok_button .messagebox__popup_content {
  opacity: 0;
}

.messagebox__popup_text {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;

}