.game__field {
  &__map {
    background-color: #92a0ad;
    text-align: center;
    position: relative;
    border: 3px solid #46535e;
    transition: all .5s ease-in-out;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    width: 716px !important;
    height: 716px !important;
    overflow: scroll;

    @media screen and (max-width: $tablet) {
      & {
        width: 300px !important;
        height: 300px !important;
        overflow: scroll;
      }

      // &::-webkit-scrollbar {
      //   display: none
      // }
    }

    &::-webkit-scrollbar-corner {
      background-color: #394653;
    }
  }

  &__under_map {
    margin-top: 6px;
    display: flex;
    align-self: flex-start;
    margin-top: 15px;
  }

  &__percent {
    position: relative;
    color: #fff;
    font-size: 14px;
    line-height: 12px;
    margin-left: 5px;
    width: 50px;
    float: left;
  }

  &__loadbar {
    position: relative;
    background: red;
    height: 11px;
    width: 100px;
    margin-left: 0;
    border-radius: 8px;
    transition: width .6s;
  }
}

.game__field__map::-webkit-scrollbar-thumb {
  background: #a99696;
}



.cell {
  position: absolute;
  color: transparent;
  line-height: 24px;
  font-size: 21px;
  padding: 0;
  font-weight: 700;
  text-align: center;
  border: 1px solid #a6afb6;
  background-color: #92a0ad;
}

.cell_close:hover {
  box-shadow: inset 0 0 0 1000px rgba(255, 60, 0, 0.363);
}


.cell_close_1 {
  background: url('./img/cell1.png') no-repeat;
}

.cell_close_2 {
  background: #d3d5d7 url('./img/cell2.png') no-repeat;
}

.cell_close_3 {
  background: #d3d5d7 url('./img/cell3.png') no-repeat;
}


.cell_flag_1 {
  background: url('./img/flag_empty.png') no-repeat,
    url('./img/cell1.png') no-repeat;
}

.cell_flag_2 {
  background: url('./img/flag_empty.png') no-repeat,
    url('./img/cell2.png') no-repeat;
}

.cell_flag_3 {
  background: url('./img/flag_empty.png') no-repeat,
    url('./img/cell3.png') no-repeat;
}


.cell_flagmulti_1 {
  background: url('./img/flag_empty_multi.png') no-repeat,
    url('./img/cell1.png') no-repeat;
}

.cell_flagmulti_2 {
  background: url('./img/flag_empty_multi.png') no-repeat,
    url('./img/cell2.png') no-repeat;
}

.cell_flagmulti_3 {
  background: url('./img/flag_empty_multi.png') no-repeat,
    url('./img/cell3.png') no-repeat;
}

.cell_open0 {
  background-color: #b9c0c9;
}

.cell_open1 {
  background: url('./img/cell_open_1.png') no-repeat;
}

.cell_open2 {
  background: url('./img/cell_open_2.png') no-repeat;
}

.cell_open3 {
  background: url('./img/cell_open_3.png') no-repeat;
}

.cell_open4 {
  background: url('./img/cell_open_4.png') no-repeat;
}

.cell_open5 {
  background: url('./img/cell_open_5.png') no-repeat;
}

.cell_open6 {
  background: url('./img/cell_open_6.png') no-repeat;
}

.cell_open7 {
  background: url('./img/cell_open_7.png') no-repeat;
}

.cell_open8 {
  background: url('./img/cell_open_8.png') no-repeat;
}

.cell_open9 {
  background: url('./img/bomb.png') no-repeat;
}

.cell_open10 {
  background: url('./img/flag_enemy.png') no-repeat;
}

.cell_open11 {
  background: url('./img/flag_my.png') no-repeat;
}