
.single_player__right_menu_buttons {
  position: relative;
  display:flex;
  flex-direction: row;
  text-align: center;
  height: 75px;
  width: 500px;
}

.single_player__restart_button {
  background-color: #4B5E70;
  position: relative;
  text-align: center;
  float: left;
  height: 75px;
  width: 280px;
  color: white;
  font-size: 20px;
  line-height	: 75px;
  border: 1px solid #000000;
  border-radius: 10px;
  -webkit-animation: pulsing 3s infinite;
  animation: pulsing 3s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }
}

.single_player__quit_button {
  text-decoration: none;
  background-color: #828282;
  position: relative;
  text-align: center;
  float: right;
  height: 75px;
  width: 210px;
  color: white;
  margin-left: 8px;
  font-size: 20px;
  line-height	: 75px;
  border: 1px solid #000000;
  border-radius: 10px;
}