.profile__header {
  text-align: center;
  padding-top: 1.5rem;
}

.profile {
  display: flex;
  justify-content: center;
  height: 80vh;
  background: white;
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.profile__main{
  justify-content: space-around;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 720px) {

  .profile__main{
    flex-direction: column;
  }
}

.profile__avatar__img {
  width: 220px;
  height: 160px;
}

.profile__info{
  display: flex;
  flex-direction: column;
  min-width: 25vh;
}

.profile__name{
  text-align: left;
  color: #5f3901;
  margin-bottom: 2px;
  font-size: 1.8vh;
}

.profile__value{
  padding: 5px 20px;
  text-align: center;
  background: rgba(230,222,193,.8);
}

.profile__avatar{
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
  align-items: center;
}

.avatar__button{
  width: 50%;
  margin-top: 1.2rem;
}

.back{
  margin-top: 15px;
  color: black;
  text-decoration: none;
}

.back:hover{
  text-decoration: underline;
}

img {
  display: block;
  max-width:250px;
  max-height:250px;
  width: auto;
  height: auto;
}

input[type='file'] {
  color: transparent;
}