extends ../Header.pug

block content
  section(data-section-name='profile')
    .profile
      .profile__wrapper
        .profile__main
          .profile__avatar
            - var url = data.avatar
            img.profile__avatar__img(src=url)
            input.button.avatar__button(type='file', name='upload', value='Upload')
          .profile__info
            .profile__row
              .profile__name Login
              .profile__value #{data.username}
            .profile__row
              .profile__name Email
              .profile__value #{data.email}
            .profile__row
              .profile__name Password
              .profile__value ******
            .profile__row
              .profile__name Games Played
              .profile__value #{data.played}
        a.back(data-href='menu', href='menu') Назад в меню