.profile__header {
  text-align: center;
  padding-top: 1.5rem;
}

.profile {
  display: flex;
  justify-content: center;
  height: 80vh;
  background: white;
}

.profile__wrapper {
	flex-direction: column;
	align-items: center;
  justify-content: center;
  max-height: 100%;
  margin-top: 18vh;
}

.profile__main{
  justify-content: space-around;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 720px) {

  .profile__main{
    flex-direction: column;
  }
}

.profile__info{
  display: flex;
  flex-direction: column;
  min-width: 25vh;
}

.profile__name{
  text-align: left;
  color: #5f3901;
  margin-bottom: 2px;
  font-size: 1.8vh;
}

.profile__value{
  padding: 5px 20px;
  text-align: center;
  background: rgba(230,222,193,.8);
}

.profile__avatar{
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
  align-items: center;
  grid-area: ava;
}

.profile__form{
  display: grid;
  text-align: center;
}

.profile__data{
  display: flex;
  flex-direction: column;
  grid-area: form;
}

.profile__form{
grid-template-areas:  
                      "ava form"
                      "ava from";
grid-template-columns: 1fr 1fr;
}

.avatar__button{
  width: 50%;
  margin-top: 1.2rem;
}

.back{
  margin-top: 15px;
  color: black;
  text-decoration: none;
  text-align: center;
}

.back:hover{
  text-decoration: underline;
}

img {
  display: block;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
  padding: 5px 10px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.hrefBackToMenu {
  text-align: center;
}