.menu {

  &__nav {
    display: flex;
    justify-content: space-evenly;
    animation: from-left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s 1 normal both;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet){
    &__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__label {
    /*border: 0.2vw solid #FFFFFF;*/
    border-radius: 30px;
    background-color: #46535E;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Saira;
    width: 20vw;
    font-size: 3vw;
    margin: 12px;
    transition: all 0.5s ease-in-out;
  }

  &__label:hover{
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  @media screen and (max-width: $normal) {
    &__label {
      width: calc(20vw + 3rem);
      font-size: calc(3vw + 0.5rem);
      padding: 5px;
    }
  }
}
