section(data-section-name='profile')
  .profile
    .profile__main
      .profile__info(novalidate='novalidate')
        a.profile__hrefBackToMenu(data-href='menu', href='menu')
        .profile__avatar
          include ./UserAvatar/Avatar.pug
        .profile__data.mr-2.ml-3
        a.profile__hrefToChange(data-href='profile/edit', href='profile/edit')
      .profile__stats
        .mb-3.mt-2.games
          span.rowname.profile__rowname Your games
        .profile__games.profile__games_noscroll