.profile__row.pl-4
  div
    span.profile__rowname nickname:
  input.profile__input.text-white(value=user.name)
.profile__row.pl-4
  div
    span.profile__rowname email:
  input.profile__input.text-white(value=user.email)
.profile__row_score.pl-1
  .profile__score
    div
      span.profile__rowname best score:
    .profile__input.text-center.text-white 22380
  .profile__score
    div
      span.profile__rowname best time:
    .profile__input.text-center.text-white 223