
section(data-section-name='profile')
  .profile
    //- a.profile__hrefBackToMenu(data-href='menu', href='menu')
    .profile__wrapper
      .profile__main
        form.profile__info(novalidate='novalidate')
          a.profile__hrefBackToMenu(data-href='menu', href='menu')
          .profile__avatar
            .inner#output
            label(for="file" class="custom-file-upload button")
            input(id="file" type="file")
          .profile__data.mr-2
            .profile__row.pl-4
              div
                span.profile__rowname nickname:
              input.profile__input(value=data.name)
            .profile__row.pl-4
              div
                span.profile__rowname email:
              input.profile__input(value=data.email)
            .profile__row_score.pl-1
              .profile__score
                div
                  span.profile__rowname best score:
                .profile__input.text-center 22380
              .profile__score
                div
                  span.profile__rowname best time:
                .profile__input.text-center 223


            //- .profile__row
            //-   .profile__name Password
            //-   input.input.signup__input.text-h2(type='password', name='password', placeholder='******', autocomplete="new-password")
            //-   .warning.signup__warning.hidden.js-warning-password
            //- .profile__row
            //-   .profile__name Repeat password
            //-   input.input.signup__input.text-h2(type='password', name='password-repeat',  placeholder='******', autocomplete="new-password")
            //-   .warning.signup__warning.hidden.js-warning-repassword
            //- .profile__row
            //-   input.change__submit.button(id="submit_changes", type='submit', name='submit', value='Изменить данные')
          a.profile__hrefToChange(data-href='change', href='change')
        .profile__games
          .mb-3
            span.profile__rowname games:
          include ./Profile__game.pug
          include ./Profile__game.pug
          include ./Profile__game.pug