
.profile {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(512.00px at 50% 50%, rgba(255, 255, 255, 0.34) 0%, rgba(255, 255, 255, 0) 100%), #667787;
}

.profile__wrapper {
  margin-top: 11vh;
}

.profile__main{
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column
}

.profile__info{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.profile__row_score{
  display: flex;
  justify-content: space-evenly
}

.profile__rowname{
  background: #46535E;
  border-radius: 10px;
  margin-bottom: 2px;
  font-family: Saira;
  font-size: 1.2rem;
  color: white;
  padding: 3px 17px;
}

.profile__input{
  background: #46535E;
  border-radius: 20px;
  font-size: 2.3rem;
  font-family: Saira;
  padding: 5px 10px;
  padding-bottom: 8px;
  margin: 1.5vh 0;
  outline: none;
  border: none
}

.profile__games{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.profile__game{
  background: #46535E;
  border-radius: 15px;
  display: flex;
  padding: 6px 15px;
  align-items: center
}

.profile__avatar{
  display: flex;
  flex-direction: column;
  justify-content:space-between ;
  align-items: center;
}

.profile__data{
  display: flex;
  flex-direction: column;
}

.profile__default_avatar{
  width: 290px;
  height: 290px;
  background: url('../../img/user.png') no-repeat;
  background-size: contain;
  background-position: center;
}

.thumb {
  display: inline-block;
  max-width:290px;
  max-height:290px;
  width: auto;
  height: auto;
  padding: 5px 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 50px;
  top: -258px;
  left: 92px;
  z-index: 50;
  border-radius: 50%;
  background: url('../../img/upload-avatar.png') #46535E no-repeat;
  background-size: contain;
  background-position: center;
}

.profile__hrefBackToMenu {
  width: 108px;
  height: 106px;
  background: url('../../img/flag-right.png') no-repeat;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: contain;
  align-self: flex-start
}

.profile__hrefToChange {
  width: 90px;
  height: 90px;
  background: url('../../img/edit-profile.png') #46535E no-repeat;
  background-size: contain;
  align-self: center;
  border-radius: 50%;
}



/* Statistics Footer */


.profile__flag_left{
  width: 40px;
  height: 36px;
  background: url('../../img/flag-right.png') no-repeat;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: contain;
}

.profile__star{
  width: 40px;
  height: 36px;
  background: url('../../img/star-q.png') no-repeat;
  background-size: contain;
}

.profile__bomb{
  width: 40px;
  height: 36px;
  background: url('../../img/bomb1.png') no-repeat;
  background-size: contain;
  background-position: center;
}

.profile__clock{
  width: 40px;
  height: 36px;
  background: url('../../img/clock.png') no-repeat;
  background-size: contain;
  background-position: center;
}

.profile__click_left{
  width: 40px;
  height: 36px;
  background: url('../../img/left-click.png') no-repeat;
  background-size: contain;
  background-position: center;
}

.profile__click_right{
  width: 35px;
  height: 36px;
  background: url('../../img/right-click.png') no-repeat;
  background-size: contain;
  background-position: center;
}
