.signup{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup__form {
  text-align: center;
  display: flex;
  flex-direction: column;

}

.input{
  padding: 5px 10px;
  margin: 1.5vh 0;
  border-radius: 2px;
  border: 1px solid grey;
  background-color: #e1e1d7;
  font-size: calc(1vw + .5rem);
}

@media screen and (min-width: 720px) {
  .signup__form{
    min-width: 35vh;
  }

}

.signup__submit{
  border: none;
  text-align: center;
  background-color: #fffff2;
  font-size: calc(1.7vw + .2rem);
  margin: 1.5vh;
}

.button{
  user-select: none;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #6e4c1a;
}

.signup__footer{
  font-size: calc(1vw + .2rem);
}

.signup__footer .button{
  color: black
}

.signup__footer .button:hover{
  text-decoration: underline
}

.signup__warning{
  width: 80%;
  align-self: center;
  margin-top: -5px;
  margin-bottom: 5px;
}

.warning{
  font-size: 13px;
  color: red;
}

.hidden{
  display: none !important
}

.signup_edit__confirm{
  width: calc(1rem + 7vw);
  height: calc(1rem + 7vw);
  background: url('../../img/signup.png') #46535E no-repeat;
  background-size: contain;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
}

.signin_edit__confirm{
  width: calc(1rem + 7vw);
  height: calc(1rem + 7vw);
  background: url('../../img/check.png') #46535E no-repeat;
  background-size: contain;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
}