section(data-section-name='signup')
  .signup
    .signup__main
      a.signup__exit(data-href='/', href='/')
      form.form.signup__form
        .form__row
          div
            span.rowname nickname:
          input.input.signup__input.bg-white(name='login', type='login')
          .warning.signup__warning.hidden.js-warning-login
        .form__row
          div
            span.rowname email:
          input.input.signup__input.bg-white(name='email', type='email')
          .warning.signup__warning.hidden.js-warning-email
        .form__row
          div
            span.rowname password:
          input.input.signup__input.bg-white(type='password', name='password', autocomplete="new-password")
          .warning.signup__warning.hidden.js-warning-password
        .form__row
          div
            span.rowname repeat password:
          input.input.signup__input.bg-white(type='password', name='password-repeat', autocomplete="new-password")
          .warning.signup__warning.hidden.js-warning-repassword
      .signup__confirm