body {
	background: #1C78A6;	
}

h2 {
	text-align: center;
	font-weight:bold;
}

.wrapper {	
	margin-top: 120px;
	margin-bottom: 80px;
}

.form-signin {
	max-width: 410px;
	box-shadow: 0 5px 30px 5px rgba(0,0,0,0.25);
	padding: 15px 20px 20px;
	border-radius: 7px; 
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);  
	position: relative;
}


.hint {
	color: red;
	font-size: 12px;
	font-weight:bold;
}


.btn_enter {
	background-color: #2c3e50;
	border: 0px;
}


.btn {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	color: #FFFFFF;
	font-weight:bold;  
	font-size: 16px;
}

 #password + .glyphicon {
	margin-top: 6px;
	cursor: pointer;
	pointer-events: all;
 }
 
.form-control {
	height: 45px;
	margin-top: 15px;
 }

.has-feedback {
    margin-top: 15px;
    margin-bottom: 15px;    
}


