.leaderboard__header {
	text-align: center;
	padding-top: 1.5rem;
}

.leaderboard {
	display: flex;
	justify-content: center;
	height: 80vh;
	background: white;
}

.leaderboard__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 80%;
}

.leaderboard table {
	border-spacing: 0;
	border: 2px solid black;
	text-align: left;
	border-radius: 3px;
}

.leaderboard td,
th {
	text-align: left;
	padding: 0.5rem;
}