.leaderboard__header {
	text-align: center;
	padding-top: 1.5rem;
}

.leaderboard {
	display: flex;
  justify-content: center;
  flex-direction: column;
	height: 80vh;
  background: white;
  align-items: center
}

.leaderboard__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  min-width: fit-content;
}

.leaderboard table {
	border-spacing: 0;
	border: 2px solid black;
	text-align: left;
	border-radius: 3px;
}

.leaderboard__controls{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  min-width: 6rem;
}
.arrow{
  cursor: pointer;
}
.arrow__inactive{
  opacity: 0.2;
}

.leaderboard td,
th {
	text-align: center;
	padding: 0.5rem;
}