section(data-section-name='leaderboard')
  h1.leaderboard__header Таблица лидеров
  br
  .leaderboard
    .leaderboard__wrapper
    .leaderboard__controls
      img.arrow.arrow__inactive(src='../../img/arrow-left.png')
      img.arrow(src='../../img/arrow-right.png')
    a.back(data-href='menu', href='menu') Назад в меню