section(data-section-name='signin')
  .profile_edit
    .profile_edit__main
      form.profile_edit__form
        .profile__row
          div
            span.profile__rowname email:
          input.profile__input.bg-white(name='email', type='email')
          .warning.signup__warning.hidden.js-warning-email
        .profile__row
          div
            span.profile__rowname password:
          input.profile__input.bg-white(type='password', name='password', autocomplete="new-password")
          .warning.signup__warning.hidden.js-warning-password
        .login__buttons
          a.profile_edit__exit(data-href='/', href='/')
          .signin_edit__confirm