
.signin {
  
  display: flex;
  justify-content: center;
  height: 100vh;
  background: $escapade-gradient;

  &__main{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    width: 100%
  }
  
  &__buttons{
    display: flex;
    justify-content: space-between;
  }

  &__confirm{
    width: calc(1rem + 7vw);
    height: calc(1rem + 7vw);
    background: url('./img/check.png') #46535E no-repeat;
    background-size: contain;
    align-self: center;
    border-radius: 50%;
    cursor: pointer;
  }

  &__confirm:hover {
    filter: brightness(125%);
  }

  &__exit{
    width: calc(1rem + 7vw);
    height: calc(1rem + 7vw);
    background: url('./img/cancel.png') #CED6DD no-repeat;
    background-size: contain;
    align-self: center;
    border-radius: 50%;
  }

  &__exit:hover {
    filter: brightness(125%);
  }
}