extends ../Header.pug

block content
  section.signup
    form.signup__form(novalidate='novalidate')
      input.input.signup__input.text-h2#email(type='email', name='email', autofocus='true', placeholder='Email')
      .warning.signup__warning.hidden.js-warning-email
      input.input.signup__input.text-h2#password(type='password', name='password', autocomplete='autocomplete', placeholder='Password')
      .warning.signup__warning.hidden.js-warning-password
      input.button.signup__submit.text-h2(type='submit', name='submit', value='Sign in')
      .signup__footer
        a.button.header-bar__button.text-base(data-href='menu', href='menu') Back to Menu
        .text-base or
        a.button.header-bar__button.text-base(data-href='sign_up', href='sign_up') Sign Up