section(data-section-name='signin')
  .signin
    .signin__main
      form.form.signin__form
        .form__row
          div
            span.rowname.signin__rowname nickname:
          input.input.signin__input.bg-white(name='login', type='login')
          .warning.signup__warning.hidden.js-warning-name
        .form__row
          div
            span.rowname.signin__rowname password:
          input.input.signin__input.bg-white(type='password', name='password', autocomplete="new-password")
          .warning.signup__warning.hidden.js-warning-password
        .signin__buttons
          a.signin__exit(data-href='/', href='/')
          .signin__confirm