section(data-section-name='signin')
  .signin
    .signin__main
      form.form.signin__form
        .form__row
          div
            span.rowname.signin__rowname email:
          input.input.signin__input.bg-white(name='email', type='email')
          .warning.signup__warning.hidden.js-warning-email
        .form__row
          div
            span.rowname.signin__rowname password:
          input.input.signin__input.bg-white(type='password', name='password', autocomplete="new-password")
          .warning.signup__warning.hidden.js-warning-password
        .signin__buttons
          a.signin__exit(data-href='/', href='/')
          .signin__confirm