.countdown
  .countdown__column
    .countdown__row
      .countdown__label hours
      .countdown__label minutes
      .countdown__label seconds
    .countdown__row
      .countdown__clock 00:00:00

