.countdown {
  display: flex;
  justify-content: space-around;


  &__label {
    margin-right: 27px;
    margin-left: 10px;
    color: #C4C4C4;
    font-size: 18px;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;

    @media screen and (max-width: $tablet) {
      & {
        width: 217px;
      }
    }
  }

  &__clock {
    color: #fff;
    font-size: 59px;
    letter-spacing: 2px;
    height: 65px;
    line-height: 57px;
  }

  @media screen and (max-width: $tablet) {
    &__clock {
      font-size: 35px;
    }

    &__label {
      font-size: 12px;
      margin-right: 18px;
      margin-left: 1px;
    }
  }
}