.signup{
  height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup__form {
  text-align: center;
  display: flex;
  flex-direction: column;

}

.input{
  padding: 5px 10px;
  margin: 1.5vh 0;
  border-radius: 2px;
  border: 1px solid grey;
  background-color: #e1e1d7;
  font-size: calc(1vw + .5rem);
  transition: box-shadow .1s,background-color .25s;
}

@media screen and (min-width: 720px) {
	.signup__form{
    min-width: 35vh;
  }

}

.signup__submit{
  border: none;
  text-align: center;
  background-color: #fffff2;
  font-size: calc(1.7vw + .2rem);
  margin: 1.5vh;
}

.button{
  user-select: none;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #6e4c1a;
}

.signup__footer .button{
  color: black
}

.signup__footer .button:hover{
  text-decoration: underline
}