@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);

* {
	padding: 0;
	margin: 0;
}

body {
	background: #1C78A6;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3em;
	padding: 1em 5%;
	background: #2c3e50;
	color: #fff;
}

.menu-header nav {
	display: inline-flex;
}

.menu-header h1 {
	font-size: 2em;
	font-style: italic;
}

.menu-header nav a {
	white-space: nowrap;
	padding-right: 1em;
}

@media screen and (max-width: 720px) {


	.menu-header {
		height: auto;
	}

	.menu-header nav {
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	.menu-header nav a:first-child {
		padding-bottom: 0.7em;
	}

}

.menu-wrapper {
	display: flex;
	justify-content: center;
	height: 80vh;
}

.menu-wrapper__menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.menu__link {
	display: inline-block;
	position: relative;
	padding: 14px 0;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 1;
	letter-spacing: 0.040em;
}

a {
	text-decoration: none;

	color: #FFF0FF;
	/* Цвет обычной ссылки */
	text-decoration: none;
	/* Убираем подчеркивание у ссылок */
}

a:visited {
	color: #FFF0FF;
	/* Цвет посещённой ссылки */
}

a:hover {
	color: #FFF0FF;
	/* Цвет ссылки при наведении на нее курсора мыши */
	text-decoration: underline;
	/* Добавляем подчеркивание */
}