body {
	background: #1C78A6;	
}

h2 {
	text-align: center;
	font-weight:bold;
}

.wrapper {	
	margin-top: 120px;
	margin-bottom: 80px;
}

.form-signin {
	max-width: 410px;
	box-shadow: 0 5px 30px 5px rgba(0,0,0,0.25);
	padding: 15px 20px 20px;
	border-radius: 7px; 
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.1);  
	position: relative;
}

h6 {
    position: relative;
    overflow: hidden;
    font-size: 13px;
    color: #808080;
    font-weight: normal;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
h6 > span {
    display: inline-block;
    margin: 0 .4em;
}
h6 > span:before,
h6 > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid #DCDCDC;
    margin-top: .6em;
}
h6 > span:before {
    margin-left: -102%;
}
h6 > span:after {
    margin-left: 2%;
}

.hint {
	color: red;
	font-size: 12px;
	font-weight:bold;
}


.btn_submit {
	background-color: #2c3e50;
	border: 0px;
}


.btn {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	color: #FFFFFF;
	font-weight:bold;  
	font-size: 16px;
}

 #password + .glyphicon {
	margin-top: 6px;
	cursor: pointer;
	pointer-events: all;
 }
 
.form-control {
	height: 45px;
	margin-top: 15px;
 }

.has-feedback {
    margin-top: 15px;
    margin-bottom: 15px;    
}


