.game__players_list_row
  .game__players_list_color
  img.game__players_list_img(src='./img/ava_guest.png')
  .game__players_list_str.game__players_list_player_name #{data.name}
  .game__players_list_str.game__players_list_player_points #{data.points} points
  .game__players_list_disconnect
    .game__players_list_disconnect_img
  .game__players_list_explose
    .game__players_list_explose_img
  .game__players_list_explose
    .game__players_list_win_img
  .game__players_list_explose
    .game__players_list_flag_img
  .game__players_list_explose
    .game__players_list_clock_img