.single_player__settings  
  ul.single_player__topmenu
    li.single_player__settings_list
      .single_player__settings_img 
      ul.single_player__submenu
        li.single_player__submenu_item.single_player__submenu_baby Baby
        li.single_player__submenu_item.single_player__submenu_normal Normal
        li.single_player__submenu_item.single_player__submenu_hard Hard
        li.single_player__submenu_item.single_player__submenu_god God
  .single_player__statistics_lvl_img
  .single_player__settings_info.single_player__settings_info_mode Master
  .single_player__statistics_size_img
  .single_player__settings_info.single_player__settings_info_width 14x14