.single_player__settings  
  ul.single_player__topmenu
    li.single_player__settings_list
      .single_player__settings_img 
      ul.single_player__submenu
        .settings__row
          .settings__column
            li.single_player__submenu_item.single_player__submenu_diff.single_player__submenu_baby Baby
            li.single_player__submenu_item.single_player__submenu_diff.single_player__submenu_normal Normal
            li.single_player__submenu_item.single_player__submenu_diff.single_player__submenu_hard Hard
            li.single_player__submenu_item.single_player__submenu_diff.single_player__submenu_god God
          .settings__column.left_border
            li.single_player__submenu_item.single_player__submenu_size.single_player__submenu_size_0 14x14
            li.single_player__submenu_item.single_player__submenu_size.single_player__submenu_size_1 20x20
            li.single_player__submenu_item.single_player__submenu_size.single_player__submenu_size_2 25x25
            li.single_player__submenu_item.single_player__submenu_size.single_player__submenu_size_3 30x30        
  .single_player__statistics_lvl_img
  .single_player__settings_info.single_player__settings_info_mode Master
  .single_player__statistics_size_img
  .single_player__settings_info.single_player__settings_info_width 14x14