html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.text-center {
  text-align: center
}

.text-left {
  text-align: left
}

.text-right {
  text-align: right
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex {
  display: flex
}

.flex-rev {
  display: flex;
  flex-direction: row-reverse;
}

.bar-vertical {
  border: 0.6px solid #E5E5E5;
  height: 40px;
}

.text-white {
  color: white
}

.text-red {
  color: #FF0C0C;
}

.bc_winner_num {
  background-color: #FF3D00;
}

.bc_winner_row {
  background-color: rgba(255, 61, 0, 0.5);
}

.bg-white {
  background: white
}

.brd-color-esc {
  border-color: #46535E
}


.mr-1 {
  margin-right: 0.35rem;
}

.mr-2 {
  margin-right: 0.8rem;
}

.mr-3 {
  margin-right: 1.3rem;
}

.ml-1 {
  margin-left: 0.35rem;
}

.ml-2 {
  margin-left: 0.8rem;
}

.ml-3 {
  margin-left: 1.3rem;
}

.ml-auto {
  margin-left: auto;
}

.mb-1 {
  margin-bottom: 0.35rem;
}

.mb-2 {
  margin-bottom: 0.8rem;
}

.mb-3 {
  margin-bottom: 1.3rem;
}

.mt-1 {
  margin-top: 0.35rem;
}

.mt-2 {
  margin-top: 0.8rem;
}

.mt-3 {
  margin-top: 1.3rem;
}



.pl-1 {
  padding-left: 0.35rem;
}

.pl-2 {
  padding-left: 0.8rem;
}

.pl-3 {
  padding-left: 1.3rem;
}

.pl-4 {
  padding-left: 2.3rem;
}

.block_left {
  margin-right: auto;
}