@import './thresholds.scss';
@import './animations.scss';
@import './colors.scss';
@import './styles/Form/form.scss';
@import './views/AuthorsView/about.scss';
@import './views/RulesView/rules.scss';
@import './views/LeaderBoardView/leaderboard.scss';
@import './views/LeaderBoardView/Filter/LeaderBoardFilter.scss';
@import './views/MainMenuView/menuStyle.scss';
@import './views/SignUpView/SignUp.scss';
@import './views/SignInView/SignIn.scss';
@import './views/ProfileView/profile.scss';
@import './views/LobbyView/lobby.scss';
@import './views/SinglePlayerView/SinglePlayer.scss';
@import './views/GameView/Field/Field.scss';
@import './views/GameView/Settings/Settings.scss';
@import './views/GameView/Statistics/Statistics.scss';
@import './views/GameView/Userinfo/Userinfo.scss';
@import './views/MessageView/Message.css';
@import './views/MessageAskView/MessageAsk.css';
@import './views/MultiPlayerView/MultiPlayer.scss';
@import './views/GameView//Chat/Chat.scss';
@import './views/GameView/PlayersList/PlayersList.scss';
@import './views/LobbyView/LobbyRoomSettings/LobbyRoomSettings.scss';
@import './components/OfflinePoppup/offline.css';
@import './views/ProfileEditView/ProfileEdit.scss';
@import './utils/stopwatch/stopwatch.scss';
@import './utils/timer/timer.scss';
@import './views/GameView/GameActions/GameActions.scss';
@import './views/ProfileView/UserGames/games.scss';
@import './views/NewConnView/newconn.scss';
@import url('common.css');