body {
  background-color: #667787;
  font-family: 'system-ui';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.single_player {
  display: flex;
  justify-content: center;
  display:flex;
  flex-direction: row;
}

.single_player__wrapper {
  margin-top: 10px;
  display:flex;
  flex-direction: column;
}

.single_player_info {
  position: relative;
  float:right;
  display:block;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 15px;
  text-align: center;
  height: 700px;
  width: 500px;
  border-radius: 23px;
}

.single_player__timer {
  background-color: #4B5E70;
  position: relative;
  display:flex;
  flex-direction: column;
  text-align: center;
  height: 160px;
  width: 500px;
  margin-top: 15px;
  border-radius: 23px;
}

.single_player__timer_str {
  display: block;
  position: relative;
  width: 310px;
  text-align: center;
  color: white;
  margin-top: 45px;
  margin-left: 90px;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
}

.single_player_logo {
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../../img/explosion.png') no-repeat;
}


@media screen and (max-width: 320px) {
  .single_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 321px)  and (max-width: 480px) {
  .single_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .single_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .single_player__player {
    width: 760px;
    margin-left: 70px;
  }
  .single_player__settings {
    width: 760px;
    margin-left: 65px;
  }
  .single_player_info{
    margin-left: 30px;
  }
  .single_player__under_map {
    margin-left: 75px;
  }

}

@media screen and (min-width: 769px)  and (max-width: 1200px) {
  .single_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1201px) {

}