extends ../Header.pug

block content
  section(data-section-name='single_player')
    .single_player
      .single_player__wrapper
        #single_player__points
        #single_player__map
        a.back(data-href='menu', href='menu') Назад в меню