/* body {
  background-color: #667787;
  font-family: 'system-ui';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
} */

.single_player {
  display:flex;
  justify-content: flex-end;


  &__wrapper {
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  &_info {
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 4vw;
    margin-right: 2vw;
    border-radius: 23px;
    text-align: center;
  }

  &__timer {
    background-color: #4B5E70;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 12px;
    border-radius: 23px;
    transition: all 0.5s ease-in-out;
  }

  &__timer_str {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    width: 300px
  }
}

@media screen and (max-width: $tablet) {
  .single_player {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__timer_str {
      font-size: 2.2rem;
      font-weight: 500;
      width: 200px
    }
  }
}

@media screen and (min-width: $tablet)  and (max-width: $normal) {
  .single_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.game__right_menu_buttons {
  display:flex;
  justify-content: space-evenly;
  transition: all 0.5s ease-in-out;
}

.game__restart_button {
  background-color: #4B5E70;
  text-align: center;
  color: white;
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  -webkit-animation: pulsing 3s infinite;
  animation: pulsing 3s infinite;
  padding: 20px 40px;
  cursor: pointer;
}

.game__quit_button {
  text-decoration: none;
  background-color: #828282;
  text-align: center;
  color: white;
  font-size: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px 40px;
}

@media screen and (min-width: $mobile)  and (max-width: $tablet) {
  .game__quit_button, .game__restart_button {
    padding: 10px 20px;
  }
}