section(data-section-name='single_player')
  .single_player
    .single_player__message_container
    .single_player__wrapper
      .single_player__field_container
    .single_player_info
      .single_player__row
        .single_player__userinfo_container
        a.game__quit_button(data-href='Quit', href='menu')
      .single_player__row
        .single_player__timer
        .game__restart_button 
      .single_player__statistics_container
      .single_player__statistics_container
      .single_player__settings_container