section(data-section-name='single_player')
  .single_player
    .single_player__wrapper
      .single_player__player
        .single_player__player_photo
        .single_player__player_name Jack Sparrow
        .single_player__player_score.single_player__player_name 200
        .single_player__player_time.single_player__player_name 125
        .single_player__player_dop
      .single_player__map
      .single_player__under_map
        .single_player__percent 15%
        .single_player__loadbar
      .single_player__settings  
        ul.single_player__topmenu
          li.single_player__settings_list
            a(href="") #[img(src=require('../../img/settings.png')).single_player__settings_img]
            ul.single_player__submenu
              li.single_player__submenu_item.single_player__submenu_baby Baby
              li.single_player__submenu_item.single_player__submenu_normal Normal
              li.single_player__submenu_item.single_player__submenu_hard Hard
              li.single_player__submenu_item.single_player__submenu_god God
        .single_player__settings_info.single_player__settings_info_mode Master mode
        .single_player__settings_info.single_player__settings_info_width 200 width
        .single_player__settings_info.single_player__settings_info_height 200 height
        .single_player__settings_info.single_player__settings_info_mines 50 mines
    .single_player_info
      .single_player__right_menu_buttons
        .single_player__restart_button Restart
        .single_player__quite_button Quite
      .single_player__timer
        .single_player__timer_str#single_player__timer 0:00:00.00
      .single_player__statistics
        .single_player__statistics_row
          .single_player__statistics_points_img
          .single_player__statistics_row_str.single_player__statistics_row_points 0 Points
        .single_player__statistics_row
          .single_player__statistics_mines_img
          .single_player__statistics_row_str.single_player__statistics_row_mines 50 mins left
        .single_player__statistics_row
          .single_player__statistics_left_click_img
          .single_player__statistics_row_str.single_player__statistics_row_left_click left click
        .single_player__statistics_row
          .single_player__statistics_right_click_img
          .single_player__statistics_row_str.single_player__statistics_row_right_click 45 right click
    .single_player_logo