.single_player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


  &__wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }

  &_info {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 8px;
    border-radius: 23px;
    text-align: center;

    @media screen and (max-width: $tablet) {
      & {
        margin-left: 30px;
        margin-right: 15px;
        margin-top: 15px;
      }
    }
  }

  &__timer {
    padding: 12px;
    transition: all 0.5s ease-in-out;
    display: flex;
    margin-top: 10px;
  }

  &__timer_str {
    color: white;
    font-size: 3rem;
    font-weight: 700;
    width: 300px
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (max-width: $tablet) {
  .single_player {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__timer_str {
      font-size: 2.2rem;
      font-weight: 500;
      width: 200px
    }
  }
}

@media screen and (min-width: $large) {
  .single_player {
    justify-content: center;
    align-items: center;

    &__info {
      align-self: flex-start;
      margin-left: 1.5vw;
    }
  }
}

@media screen and (min-width: $tablet) and (max-width: $normal) {
  .single_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.game__right_menu_buttons {
  display: flex;
  justify-content: space-evenly;
  transition: all 0.5s ease-in-out;
}

.game__restart_button {
  width: 49px;
  height: 49px;
  background: url('./img/restart.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.game__restart_button:hover {
  filter: brightness(145%);
}

.game__quit_button {
  width: 49px;
  height: 49px;
  background: url('./img/quit.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.game__quit_button:hover {
  filter: brightness(145%);
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {

  .game__quit_button,
  .game__restart_button {
    padding: 10px 30px;
  }
}