.user_info {
  &__player {
    display: flex;
    width: 296px;
    text-align: left;
  }

  &__player_photo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: url('./img/flag.png') no-repeat;
    background-size: cover;
  }

  &__player_str {
    color: white;
    font-size: 20px;
    margin-left: 11px;
    height: 24px;
  }

  @media screen and (max-width: $tablet) {
    &__player {
      width: 260px;
    }

    &__player_score {
      display: none;
    }

    &__player_time {
      display: none;
    }

  }
}

.user_info__column {
  display: flex;
  flex-direction: column;
}

.user_info__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 181px;
  height: 24px;
}

.user_info__label {
  margin-left: 11px;
  color: #C4C4C4;
}

.single_player__player_name {
  font-weight: bold;
}