.single_player__player
  .single_player__player_photo
  .single_player__player_name.single_player__player_str Jack Sparrow
  .single_player__player_score.single_player__player_str 200
  .single_player__player_time.single_player__player_str 125
  .single_player__player_dop