.user_info__player
  .user_info__player_photo
  .user_info__column
    .user_info__player_name.user_info__player_str Jack Sparrow
    .user_info__row
      .user_info__label Best score
      .user_info__label Best time
    .user_info__row
      .user_info__player_score.user_info__player_str 200
      .user_info__player_time.user_info__player_str 125
