section(data-section-name='chat')
  .chat
    .chat__history
      .chat__message 
        .chat__row
          .chat__message_img
          .chat__column
            .chat__message_text hello world
            .chat__message_time 11:50
    .chat__row
      input.chat__input.bg-white(name='message', type='text')
      .chat__send_button