.chat__message 
    .chat__row
        .chat__message_img_container
            img.chat__message_img(src=message.photo)
        .chat__column
            .chat__message_name #{message.name}
            .chat__message_text #{message.text}
            .chat__message_time #{message.time}