.chat__message 
    .chat_my___row
      .chat__message_img_container
          img.chat__message_img.ml-2(src="./img/qrosh.png")
      .chat__column_meta
        .chat__message_name #{"User"}
        .chat__message_time.mt-2 #{0}
      .chat__text.mr-2 #{"Lorem Ipsum dgvsfg sfgbsfgdsjhs rgjnsrjgnl jrsnjnsbrsg drhrehgrn,rwbg,rsbg"}