section(data-section-name='about')
  .rules
    .rules__wrapper
      .rules__header
        .rules__escapade Rules
        .rules__mode.menu__button Singleplayer
      .rules__content 
      a.rules__back(data-href='menu', href='menu')