.rules {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: $escapade-gradient;

  &__header {
    text-align: center;
    padding-top: 1.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__team {
    margin: 1vmin;
    margin-top: 4vmin;
    display: grid;
    font-size: 2.5vmin;
    grid-template-columns: 1.5fr 1.5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  &__content {
    font-family: Saira;
    padding: 1vmin;
    text-align: center;
    background: #46535E;
    margin-top: 3vmin;
    margin-left: 10vmin;
    margin-right: 10vmin;
    margin-bottom: 3vmin;
    border-radius: 30px;
    color: white;
    font-size: calc(0.5rem + 1vw);
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__back {
    width: 108px;
    height: 106px;
    background: url('./img/flag-right.png') no-repeat;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-size: contain;
  }

  &__back:hover {
    animation: go-left .4s linear .2s 1 normal forwards;
  }

  &__mode {
    margin-left: 20vw;
    cursor: pointer;
    transform: scale(1) !important;
  }

  &__escapade {
    background: #FF3D00;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: calc(1rem + 2vw);
    padding: 10px 10px
  }
}