section(data-section-name='lobby')
  .lobby
    .lobby_room_settings_container
    .lobby__rooms
      .lobby__header
        a.lobby__back(data-href='menu', href='menu')
        .lobby__current_room_panel
          .lobby__current_room_panel_info
            .room_status
            .room_status_images_players
          .room__exit
      .lobby__rooms_header
        .lobby__label Rooms
        .lobby__button.lobby__create_game Create room
      .lobby__rooms_main
        .lobby__rooms_container
          .lobby__room_not_found No rooms yet
          .lobby__free_room_container 
          .lobby__busy_room_container
        .lobby__chat_container
    