section(data-section-name='lobby')
  .lobby
    .lobby__main
      a.back.lobby__back(data-href='menu', href='menu')
      .lobby__column
        .lobby__row
          .lobby__label.lobby__label Rooms
          .lobby__row
            .lobby__button.lobby__find_game random room
            .lobby__button.lobby__create_game create room
        .lobby__free_room_container
        .lobby__busy_room_container
        .lobby__paginator
          .lobby__element.lobby__paginator_left
          .lobby__element.lobby__paginator_page 1
          .lobby__element.lobby__paginator_right