section(data-section-name='lobby')
  .lobby
    .lobby__main
      a.back.lobby__back(data-href='menu', href='menu')
      .lobby__column
        .lobby__row
          .lobby__label.lobby__label Rooms
          .lobby__row
            .lobby__button.lobby__find_game random room
            .lobby__button.lobby__create_game create room
        .lobby__room.lobby__free_room
          .lobby__element.lobby__name.lobby__with_image NoName
          .lobby__element.lobby__players.lobby__with_image 1/2 players
          .lobby__element.lobby__difficult.lobby__with_image baby
          .lobby__element.lobby__size.lobby__with_image 12x12
          .lobby__element.lobby__mines.lobby__with_image 10
          .lobby__element.lobby__time.lobby__with_image 00:01:30
        .lobby__room.lobby__buzy_room
          .lobby__element.lobby__name.lobby__with_image NoName
          .lobby__element.lobby__players.lobby__with_image 2 players
          .lobby__element.lobby__difficult.lobby__with_image baby
          .lobby__element.lobby__size.lobby__with_image 12x12
          .lobby__element.lobby__mines.lobby__with_image 10
          .lobby__element.lobby__time_have.lobby__with_image 00:01:30
          .lobby__element.lobby__observers.lobby__with_image 10
          .lobby__element.lobby__status.lobby__with_image finished
        .lobby__paginator
          .lobby__element.lobby__paginator_left
          .lobby__element.lobby__paginator_page 1
          .lobby__element.lobby__paginator_right