section(data-section-name='lobby')
  .lobby
    .lobby__main
      .lobby__row
        a.back.lobby__back(data-href='menu', href='menu')
        .lobby__current_room_panel
          .lobby__row
            .lobby__column
              .room_status
              .room_status_images_players
            .room__exit
      .lobby__column
        .lobby__row
          .lobby__label.lobby__label Rooms
          .lobby__row
            .lobby__button.lobby__create_game create room
        img.lobby__room_not_found(src='./img/roomNotFound.png')
        .lobby__free_room_container 
        .lobby__busy_room_container
        .lobby__paginator
          .lobby__element.lobby__paginator_left
          .lobby__element.lobby__paginator_page 1
          .lobby__element.lobby__paginator_right