.single_player{
  &__statistics {
    display: flex;
    flex-direction: column;
    /* margin-top: 21px; */
    text-align: center;
    width: 329px;
  }

  &__statistics_row {
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }

  &__statistics_row_str {
    position: relative;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
    width: 34px;
  }

  &__statistics_points_img{
    width: 28px;
    height: 28px;
    background: url('./img/star.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__statistics_mines_img{
    width: 28px;
    height: 28px;
    background: url('./img/bomb_w.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__statistics_left_click_img{
    width: 18px;
    height: 28px;
    background: url('./img/left_click.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__statistics_right_click_img{
    width: 18px;
    height: 28px;
    background: url('./img/right_click.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (max-width: $tablet) {
    &__statistics_points_img{
      width: 30px;
      height: 30px;
    }

    &__statistics_mines_img{
      width: 30px;
      height: 30px;
    }

    &__statistics_left_click_img{
      width: 30px;
      height: 50px;
    }

    &__statistics_right_click_img{
      width: 30px;
      height: 50px;
    }

    &__statistics {
     display: none;
     margin-top: 25px;
    }
    
  }
}