.single_player__statistics
  .single_player__statistics_row
    .single_player__statistics_points_img
    .single_player__statistics_row_str.single_player__statistics_row_points 120
    .single_player__statistics_mines_img
    .single_player__statistics_row_str.single_player__statistics_row_mines 50/50
    .single_player__statistics_left_click_img
    .single_player__statistics_row_str.single_player__statistics_row_left_click 23
    .single_player__statistics_right_click_img
    .single_player__statistics_row_str.single_player__statistics_row_right_click 3