.single_player__statistics {
  background-color: #4B5E70;
  display:flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
  border-radius: 23px;
}
.single_player__statistics_row {
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.single_player__statistics_points_img{
  width: 50px;
  height: 50px;
  background: url('../../../img/star.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.single_player__statistics_row_str {
  position: relative;
  text-align: center;
  color: white;
  border-radius: 15px;
  font-size: 20px;
}


/* .single_player__statistics_row_points {
  margin-top: 56px;
  margin-left: 11px;
} */

/* .single_player__statistics_row_mines {
  margin-top: 90px;
  margin-left: 11px;
}

.single_player__statistics_row_left_click {
  margin-top: 120px;
  margin-left: 5px;
}

.single_player__statistics_row_right_click {
  margin-top: 150px;
  margin-left: 5px;
} */

.single_player__statistics_mines_img{
  width: 50px;
  height: 50px;
  background: url('../../../img/bomb_w.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.single_player__statistics_left_click_img{
  width: 45px;
  height: 76px;
  background: url('../../../img/left_click.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.single_player__statistics_right_click_img{
  width: 45px;
  height: 76px;
  background: url('../../../img/right_click.png');
  background-repeat: no-repeat;
  background-size: cover;
}