table
  thead
    tr
      th User
      th Best Score
      th Best Time
  hr
  tbody
  - for(var i = 0; i < data.length;i++){
    tr
      td #{data[i].name}
      td #{data[i].bestScore.String || 0}
      td #{data[i].bestTime.String || 0}
  - }