table
  thead
    tr
      th
      th User
      th Score
      th Games played
  tbody
  - for(var i = 0; i < data.length;i++){
    tr
      td #{data[i].num}
      td #{data[i].name}
      td #{data[i].score}
      td #{data[i].games}
  - }