section(data-section-name='multi_player')
  .multi_player
    include ../MessageView/Message.pug
    .multi_player__wrapper
      include ../GameView/Field/Field.pug
    .multi_player_info
      include ../GameView/Buttons/Buttons.pug
      .multi_player__timer
        .multi_player__timer_str#multi_player__timer 0:00:00
      include ../GameView/PlayersList/PlayersList.pug
    .logo