body {
  background-color: #667787;
  font-family: 'system-ui';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.multi_player {
  display: flex;
  justify-content: center;
  display:flex;
  flex-direction: row;
}

.multi_player__wrapper {
  margin-top: 10px;
  display:flex;
  flex-direction: column;
}

.multi_player_info {
  position: relative;
  float:right;
  display:block;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 15px;
  text-align: center;
  height: 700px;
  width: 500px;
  border-radius: 23px;
}

.multi_player__timer {
  background-color: #4B5E70;
  position: relative;
  display:flex;
  flex-direction: column;
  text-align: center;
  height: 160px;
  width: 500px;
  margin-top: 15px;
  border-radius: 23px;
}

.multi_player__timer_str {
  display: block;
  position: relative;
  width: 310px;
  text-align: center;
  color: white;
  margin-top: 45px;
  margin-left: 90px;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .multi_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 321px)  and (max-width: 480px) {
  .multi_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .multi_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .multi_player__player {
    width: 760px;
    margin-left: 70px;
  }
  .multi_player__settings {
    width: 760px;
    margin-left: 65px;
  }
  .multi_player_info{
    margin-left: 30px;
  }
  .multi_player__under_map {
    margin-left: 75px;
  }

}

@media screen and (min-width: 769px)  and (max-width: 1200px) {
  .multi_player {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1201px) {

}


.game__multi_right_menu_buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 44px;
  width: 500px;
  margin-top: 15px;
}


.game__multi_quit_button {
  text-decoration: none;
  background-color: #828282;
  position: relative;
  text-align: center;
  float: right;
  height: 48px;
  width: 500px;
  color: white;
  margin-left: 0px;
  font-size: 20px;
  line-height: 48px;
  border: 1px solid #000000;
  border-radius: 10px;
}