section(data-section-name='multi_player')
  .multi_player
    .multi_player__message_container
    .multi_player__wrapper
      .multi_player__field_container
    .multi_player_info
      .game__multi_right_menu_buttons
        a.game__multi_quit_button(data-href='Quit', href='lobby') Quit
      .multi_player__timer
        .multi_player__timer_str#multi_player__timer 0:00:00
      .multi_player__playerlist_container
    .logo