p 1) Each player sets a flag. The task is to find the flags of other players, avoiding mines. 
p 2) The winner is the survivor, whose flag is not found and who scored the most points
p 3) You earn points by opening the cells and discovering the opponent's flags. If you hit a mine, you lose. If someone finds your flag, you lose
p 4) During the preparation you are given about 10 seconds to set the flag. If you do not set the flag, it will be selected automatically. You can set the flag as many times as you want, but only during the preparation stage, in the future you will not be able to change its location! If you put a flag in a cell that contains another flag, both flags will move to random locations.
p 5) The cells opened by the player are visible to everyone in the room. The flags you set by right click to indicate mines are available only to you.