p 1) The number in the cell shows how many mines are hidden around the given cell . This number will help you understand where the safe cells are and where the bombs are.
p 2) If there is an empty cell next to an open cell, it will open automatically.
p 3) If you open a cell with a mine, the game is lost.
p 4) To mark the cell in which the bomb is located, right-click it.
p 5) the Game continues until you open all the non-mined cells.