p 1) Число в ячейке показывает, сколько мин скрыто вокруг данной ячейки . Это число поможет понять вам, где находятся безопасные ячейки, а где находятся бомбы. 
p 2) рядом с открытой ячейкой есть пустая ячейка, то она откроется автоматически. 
p 3) Если вы открыли ячейку с миной, то игра проиграна.
p 4) Что бы пометить ячейку, в которой находится бомба, нажмите её правой кнопкой мыши. 
p 5) После того, как вы отметите все мины, можно навести курсор на открытую ячейку и нажать правую и левую кнопку мыши одновременно. Тогда откроются все свободные ячейки вокруг неё.
p 6) Если в ячейке указано число, оно показывает, сколько мин скрыто в восьми ячейках вокруг данной. Это число помогает понять, где находятся безопасные ячейки. 
p 7) Игра продолжается до тех пор, пока вы не откроете все не заминированные ячейки.