.chat__wrapper
  //- .chat__online.mb-2 Now in lobby: 0, in game: 0
  .chat__history
  .chat__typing.mt-3 
  .chat__controls
    input.chat__input.bg-white(name="login" type="login" placeholder="Enter message")
    .chat__send_button
    .chat__edit_button_send