
.chat__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 549px;
  width: 464px;
  /* margin-left: 20px; */
  margin-top: 10px;
  background: #4B5E70;
  padding: 15px;
  border-radius: 15px;
}

.chat__row {
  display: flex;
  flex-direction: row;
}

.chat__history {
  display: flex;
  flex-direction: column;
  width: 434px;
  height: 359px;
  overflow-y: scroll;
}

.chat__column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat__message {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  margin: 5px 0;
}

.chat__online{
  text-align: center;
  color: white;
}

.chat__typing{
  text-align: center;
  color: white
}

/* Clear floats */
.chat__message::after {
  content: "";
  clear: both;
  display: table;
}

.chat__input {
  border-radius: 20px;
  font-size: 20px;
  padding: 5px 10px 8px;
  margin: 1.5vh 0;
  outline: none;
  width: 400px;
  border: none;
}

/* Style images */
.chat__message_img {
  float: right;
  max-width: 40px;
  width: 100%;
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
}

.chat__text{
  display: flex;
  align-items: center;
  width: 230px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  line-break: auto;
  hyphens: initial;
  margin-left: 9px;
}

.chat__controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_text {
  align-content: left;
}

/* Style time text */
.chat__message_time {
  float: left;
  color: #999;
}

.chat__send_button {
  background-image: url(/img/flag_ahead.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  width: 41px;
  height: 41px;
}

.chat__mymessage {
  background: #323d48;
  color: white;
}


.chat_my___row{
  display: flex;
  flex-direction: row-reverse;
}



.chat__popup{
  position: absolute;
    top: -93px;
    left: -195px;
    width: 700px;
    height: 700px;
}

.popup__wrapper{
  width: 310px;
    height: 538px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 100;
}