.chat__message.chat__reverse_message
  .chat__row.flex-rev
    .chat__message_user.flex-rev
      .chat__message_img_container
          img.chat__message_img.ml-2(src=message.photo)
      .chat__column
        .chat__message_name.text-right #{message.name}
        .chat__time_cont.flex-end
          - if (message.messEdited){
          .chat__edited_message (edit)
          - }
          .chat__message_time.text-right.ml-2 #{message.time}
      - if (message.status == 2){
      .chat__observer_message (observer)
      - }
  .chat__text.mr-2 #{message.text}


    