.chat__message.chat__reverse_message
  .chat__row
    .chat__message_img_container
        img.chat__message_img.ml-2(src=message.photo)
    .chat__column
      .chat__message_name.text-right #{message.name}
      .chat_my__row.flex-end
        .chat__message_time #{message.time}
        - if (message.messEdited){
        .chat__edited_message (edit)
        - }
      - if (message.status == 2){
      .chat__observer_message (observer)
      - }
    .chat__text.block_left.mr-2 #{message.text}


    