.chat {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    background: #4B5E70;
    padding: 15px;
    border-radius: 15px;

    @media screen and (max-width: $tablet) {
      & {
        height: 300px;
      }
    }
  }

  &__message_user {
    display: flex;
  }

  &__time_cont {
    display: flex;
  }

  &__column {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__column_meta {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
  }




  &__message:hover &__edit_button {
    opacity: 1;
  }

  &__message:hover &__remove_button {
    opacity: 1;
  }

  &__edited_message {
    color: #999;
    font-size: 16px;
    margin-left: 2px;
  }

  &__observer_message {
    color: #999;
    font-size: 16px;
    float: left;
  }

  &__history {
    display: flex;
    flex-direction: column;
    height: 436px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 3s linear;
    padding-right: 8px;

    &::-webkit-scrollbar-button {
      display: none;
    }

    &:hover::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar {
      width: 0px;
      transition: 3s linear;
    }

    &::-webkit-scrollbar-thumb {
      background: #ff3d00;
    }

  }



  &__message_name {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    line-break: auto;
    hyphens: initial;
    font-style: italic;
    font-size: 17px;
  }



  &__message {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    margin: 5px 0px 5px 0;
    width: 25vw;


    @media screen and (max-width: $normal) {
      & {
        width: 30vw;
      }
    }

    @media screen and (max-width: $tablet) {
      & {
        width: initial;
      }
    }
  }

  &__online {
    text-align: center;
    color: white;
  }

  &__typing {
    text-align: center;
    color: white
  }

  /* Clear floats */
  &__message::after {
    content: "";
    clear: both;
    display: table;
  }

  &__input {
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 10px 8px;
    margin: 1.5vh 0;
    outline: none;
    border: none;
  }

  /* Style images */
  &__message_img {
    float: right;
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
  }

  &__text {
    display: flex;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    line-break: auto;
    hyphens: initial;
    margin-left: 13px;
    font-size: 17px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left_text {
    align-content: left;
  }

  /* Style time text */
  &__message_time {
    color: #999;
    font-size: 16px;
  }

  &__send_button {
    background-image: url(/img/flag_ahead.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    width: 41px;
    height: 41px;
  }

  &__edit_button_send {
    width: 38px;
    height: 38px;
    background: url('/img/check.png') #46535E no-repeat;
    background-size: contain;
    align-self: center;
    border-radius: 50%;
    cursor: pointer;
  }

  &__edit_button_send:hover {
    filter: brightness(125%);
  }

  &__send_button:hover {
    filter: brightness(145%);
  }

  &__reverse_message {
    background: #323d48;
    color: white;
  }


  &_my__row {
    display: flex;
    flex-direction: row;
  }

  &__row {
    display: flex;
    // flex-direction: row-reverse;
  }

  &__row_text {
    display: flex;
    flex-direction: row;
  }

  &__popup {
    position: absolute;
    top: -93px;
    left: -195px;
    width: 700px;
    height: 700px;
  }

  .popup__wrapper {
    width: 310px;
    height: 538px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 100;
  }

  &__edit_button {
    background-image: url('./img/pencil.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-top: 3px;
    opacity: 0;
  }

  &__remove_button {
    background-image: url('./img/trash.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    width: 27px;
    height: 25px;
  }

}