section(data-section-name='menu')
  .menu
    .menu__labels
      a.menu__label(href='leaders', data-href='leaders') Leaderboard
      a.menu__label(href='rules') Rules
    .menu__wrapper
      a.menu__logo(href='single_player', data-href='single_player')
      a.menu__name(href='sign_up', data-href='sign_up') Anonymous
      .menu__or or
      .menu__row
        a.menu__enter(href='sign_in', data-href='sign_in') sign in
        .menu__enter |
        a.menu__enter(href='sign_up', data-href='sign_up') sign up
      a.menu__escapade(href='about', data-href='about') Escapade
include ../../components/OfflinePoppup/Offline.pug