extends ../Header.pug

block content
  section(data-section-name='menu')
    #main.menu-wrapper
      #menu.menu-wrapper__menu
        a.menu__link(href='multi_player', data-href='sign_in') Играть вдвоем
        a.menu__link(href='single_player', data-href='single_player') Играть одному
        a.menu__link(href='leaders', data-href='leaders') Таблица лидеров
        a.menu__link(href='about', data-href='about') О нас