section(data-section-name='menu')
  .menu__message_container
  .menu
    .menu__nav
      a.menu__label(href='leaders', data-href='leaders') Leaderboard
      a.menu__label(href='rules', data-href='rules') Rules
    .menu__body.mt-2
      - if (user.name !== null){
      .menu__labels.mb-2
        a.menu__logo(href='single_player', data-href='single_player')
        a.menu__multi_logo(href='lobby', data-href='lobby')
      a.menu__button.brd-color-esc(href='profile', data-href='profile') #{user.name}
      a.menu__button.mt-2(href='sign_out', data-href='sign_out') Logout
      - }
      - else {
      .menu__labels.mb-2
        a.menu__logo.mb-2(href='single_player', data-href='single_player')
        a.menu__multi_logo(href='lobby', data-href='lobby')
      a.menu__button(href='sign_in', data-href='sign_in') Anonymus
      .menu__or.mt-1 or
      .menu__row.mt-1
        a.menu__button.mr-2(href='sign_in', data-href='sign_in') Sign in
        a.menu__button.ml-2(href='sign_up', data-href='sign_up') Sign up
      - }
      a.menu__escapade.mt-2(href='about', data-href='about') Escapade