@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic);

body {
  background-color: #667787;
  font-family: 'system-ui';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.menu {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  background: radial-gradient(512.00px at 50% 50%, rgba(255, 255, 255, 0.34) 0%, rgba(255, 255, 255, 0) 100%), #667787;
}

.menu__labels {
  display: flex;
  justify-content: space-evenly;
}

.menu__wrapper {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu__logo {
  background-image: url('../../img/logo_single.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 36vw;
  width: 36vw;
  -webkit-animation: pulsing 3s infinite;
  animation: pulsing 3s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

.menu__multi_logo {
  background-image: url('../../img/logo_multi.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 6vw;
  width: 6vw;
}

.menu__row {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.menu__enter {
  color: white;
  font-size: 2.2vw;
  font-weight: 200;
  text-decoration: none
}

.menu__name {
  color: white;
  font-family: Saira;
  font-size: 3vw;
  text-decoration: none;
}

.menu__or {
  color: rgba(196, 196, 196, 1);
  font-weight: 100;
}

.menu__escapade {
  color: rgba(196, 196, 196, 1);
  font-size: 2vw;
  font-weight: 100;
  text-decoration: none
}

.menu__label {
  border: 0.2vw solid #FFFFFF;
  border-radius: 30px;
  background-color: #46535E;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Saira;
  width: 20vw;
  font-size: 3vw;
}

@media screen and (max-width: 725px) {
  .menu__label {
    width: calc(20vw + 3rem);
    font-size: calc(3vw + 0.5rem);
  }

}
