@import '../../styles/MainMenu/nav.scss';
@import '../../styles/MainMenu/middle.scss';
@import '../../styles/MainMenu/bottom.scss';


::-webkit-scrollbar {
  width: 10px;
  /* 1 - вертикальный скроллбар */
}

::-webkit-scrollbar:horizontal {
  height: 10px;
  /* 1 - горизонтальный скроллбар */
}

::-webkit-scrollbar-button {
  background: #394653;
  /* 2 - кнопка */
}

::-webkit-scrollbar-track {
  background: #4b5d70;
  /* 3 - трек */
}

::-webkit-scrollbar-track-piece {
  background: #4b5d70;
  /* 4 – видимая часть трека */
}

::-webkit-scrollbar-thumb {
  background: #394653;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /* 5 - ползунок */
}

body {
  background-color: #667787;

  font-weight: normal;
  font-style: normal;
  font-family: 'Saira', sans-serif;
}


.menu {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  background: $escapade-gradient;


  &__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: $tablet) {
  .menu {
    justify-content: center;
  }
}