@import '../../styles/MainMenu/nav.scss';
@import '../../styles/MainMenu/middle.scss';
@import '../../styles/MainMenu/bottom.scss';


body {
  background-color: #667787;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
 
  font-weight: normal; 
  font-style: normal; 
  font-family: 'Saira', sans-serif;
}


.menu {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  background: $escapade-gradient;

  
  &__body {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: $tablet){
  .menu{
    justify-content: center;
  }
}