section(data-section-name='profile_edit')
  .profile_edit
    .profile_edit__main
      a.profile_edit__exit(data-href='/profile', href='/profile')
      form.form.profile_edit__form
        .form__row
          div
            span.rowname.profile_edit__rowname nickname:
          input.input.profile_edit__input.bg-white(value=data.name, name='login', type='login')
          .warning.signup__warning.hidden.js-warning-login
        .form__row
          div
            span.rowname.profile_edit__rowname password:
          input.input.profile_edit__input.bg-white(type='password', name='password', autocomplete="new-password")
          .warning.signup__warning.hidden.js-warning-password
        .form__row
          div
            span.rowname.profile_edit__rowname repeat password:
          input.input.profile_edit__input.bg-white(type='password', name='password-repeat', autocomplete="new-password")
          .warning.signup__warning.hidden.js-warning-repassword
      .profile_edit__confirm