.profile_edit{
  display: flex;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(512.00px at 50% 50%, rgba(255, 255, 255, 0.34) 0%, rgba(255, 255, 255, 0) 100%), #667787;
}

.profile_edit__main{
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  width: 100%
}

.profile_edit__form{
  display: flex;
  flex-direction: column;
}

.profile_edit__exit{
  width: 110px;
  height: 110px;
  background: url('../../img/cancel.png') #CED6DD no-repeat;
  background-size: contain;
  align-self: center;
  border-radius: 50%;
}

.profile_edit__confirm{
  width: 110px;
  height: 110px;
  background: url('../../img/save.png') #46535E no-repeat;
  background-size: contain;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
}