* {
  box-sizing: border-box;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}



.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #FF0000;
  cursor: pointer;
}

.lobby_room_settings_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #FF0000;
  cursor: pointer;
}

.lobby_room_settings_sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: white;
}

.lobby_room_settings_sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 0px;
  background: #D3D3D3;
  height: 10px;
  margin: 0 0 20px 0;
  margin-right: 10px;
  margin-left: 11px;
}


.lobby_room_settings{
  width: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  overflow: auto;
}
.lobby_room_settings_content{
  width: 370px;
  height: 662px;
  padding: 10px;
  background-color: #667787;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #000;
  z-index: 8;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .5s ease-in-out;
}


.lobby_room_close_settings {
  width: 30px;
  height: 30px;
  background: url('./img/cancel.png') #CED6DD no-repeat;
  background-size: contain;
  align-self: center;
  border-radius: 50%;
  position: relative;
}

.lobby_room_close_settings:hover {
  filter: brightness(125%)
}

.lobby_room_settings_ok_button {
  text-decoration: none;
  background-color: #4B5E70;
  position: relative;
  text-align: center;
  height: 70px;
  width: 100%;
  color: white;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  line-height: 70px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.lobby_room_settings_ok_button:hover {
  filter: brightness(125%)
}

.lobby_room_settings_button .lobby_room_settings_content {
  opacity: 0;
}

.lobby_room_settings_text {
  text-decoration: none;
  position: relative;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;

}



.lobby_room_input {
  height: 35px;
  border-radius: 9px;
  width: -webkit-fill-available;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}