.leaderboard__header {
  text-align: center;
  padding-top: 1.5rem;
}

.leaderboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  background: white;
  align-items: center
}

.leaderboard__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}

.leaderboard table {
  text-align: left;
}

.leaderboard__controls{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  min-width: 6rem;
}
.arrow{
  cursor: pointer;
}
.arrow__inactive{
  opacity: 0.2;
}

.leaderboard th{
  font-weight: bold
}

.leaderboard td,
th {
  font-size: calc(1.5vh + .5rem);
  text-align: center;
  padding: 0.5rem;
}