.leaderboard__header {
  text-align: center;
  padding-top: 1.5rem;
}

.leaderboard {
  display: flex;
  justify-content: center;
}

.leaderboard__wrapper {
  margin-top: 10px;
  display:flex;
  justify-content: center;
  flex-direction: row;
}

.leaderboard__table {
  margin-top: 10px;
  display:flex;
  flex-direction: column;
}

/*
min-width  40% from media avg
min-height 50% from media avg
*/
.leaderboard__board {
  display:flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  background-image: url('../../img/field.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #46535E; 
  border-style: solid; 
  float: left;
} 

/*
min-width  15% from media avg
min-height 15% from media avg
*/
.flag_button_back {
  background-image: url('../../img/flag_back.png');
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
} 

.leaderboard__table_row {
  display:flex;
  flex-direction: row;
  border-radius: 5px;
  color: white;
  margin-bottom: 5px;
}

.leaderboard__table_header {
  text-align: center;
  background-color:rgba(75, 94, 112, 0.71);
  display:flex;
  flex-direction: row;
  border-radius: 5px;
  color: white;
  margin-bottom: 5px;
}

.leaderboard__table_best {
  background-color:rgba(255, 61, 0, 0.5);
}

.leaderboard__table_usual {
  background-color:rgba(0, 0, 0, 0.4);
}

.leaderboard__Label {
  border-radius: 0 0 5px 5px;;
  background-color:#46535E;
  color: white;
  content: "leaderboard";
  text-align: center;
  margin-bottom: 5px;
  padding: 4px;
}

.leaderboard__ava {
  /* background-image: url('../../img/qrosh.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
}

.leaderboard__number {
  text-align: center;
}

.leaderboard__panel {
  text-align: center;
  display:flex;
  flex-direction: row;
  border-radius: 5px;
  color: white;
  background-color:rgba(0, 0, 0, 0.55);
}

.leaderboard__left {
  background-image: url('../../img/flag_back.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.leaderboard__right {
  background-image: url('../../img/flag_ahead.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.leaderboard__page {
  color: white;
  font-weight: 600;
}

/*avg 320*/
@media screen and (max-width: 320px) {

  .leaderboard__block {
    margin: 1px;
  }

  .leaderboard__Label {
    font-size: 30px;
  }

  .leaderboard__board {
    border-radius: 20px;
    border-width: 3px;
  } 

  /*table header*/
  .leaderboard__table_header {
    font-size: 14px;
    min-height: 14px;
    padding: 2px;
  }

  /*bottom panel*/
  .leaderboard__panel {
    margin-top: 100px;
    min-height: 20px;
    padding: 10px;
    margin: 20px;
  }

  .leaderboard__left {
    min-height: 20px;
    min-width: 20px;
  }

  .leaderboard__page {
    font-size: 24px;
    min-height: 20px;
    min-width: 200px;
  }
  
  .leaderboard__right {
    min-height: 20px;
    min-width: 20px;
  }

  /*table row*/
  .leaderboard__table_row {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
    min-height: 12px;
    padding: 1px;
  }

  .leaderboard__number {
    min-width: 20px;
  }
  
  .leaderboard__ava {
    min-width: 16px;
    min-height: 16px;
  }
  
  .leaderboard__name {
    min-width: 140px;
  }
  
  .leaderboard__points {
    min-width: 60px;
  }
  
  .leaderboard__time {
    min-width: 60px;
  }
}

/*avg 400*/
@media screen and (min-width: 321px)  and (max-width: 480px) {

  .leaderboard__block {
    margin: 1px;
  }

  .leaderboard__board {
    border-radius: 20px;
    border-width: 4px;
  } 

  /*table elements*/
  .leaderboard__table_header {
    font-size: 20px;
    min-height: 16px;
    padding: 2px;
  }

  /*bottom panel*/
  .leaderboard__panel {
    margin-top: 100px;
    min-height: 20px;
    padding: 10px;
    margin: 20px;
  }

  .leaderboard__left {
    min-height: 30px;
    min-width: 30px;
  }

  .leaderboard__page {
    font-size: 25px;
    min-height: 30px;
    min-width: 200px;
  }
  
  .leaderboard__right {
    min-height: 30px;
    min-width: 30px;
  }

  .leaderboard__Label {
    font-size: 36px;
  }

  /*table row*/
  .leaderboard__table_row {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 14px;
    min-height: 14px;
    padding: 1px;
  }

  .leaderboard__table_row_element {
    padding: 1px;
    margin: 2px;
  }

  .leaderboard__number {
    min-width: 22px;
  }
  
  .leaderboard__ava {
    min-width: 28px;
    min-height: 28px;
  }
  
  .leaderboard__name {
    min-width: 150px;
  }
  
  .leaderboard__points {
    min-width: 50px;
  }
  
  .leaderboard__time {
    min-width: 50px;
  }
}

/*avg 600*/
@media screen and (min-width: 481px) and (max-width: 768px) {

  .leaderboard__board {
    border-radius: 16px;
    border-width: 5px;
  } 

  .leaderboard__Label {
    font-size: 45px;
  }

  /*table elements*/
  .leaderboard__table_header {
    font-size: 22px;
    min-height: 16px;
    line-height: 16px;
    padding: 2px;
    margin: 5px;
  }

  /*bottom panel*/
  .leaderboard__panel {
    margin-top: 100px;
    min-height: 20px;
    padding: 10px;
    margin: 20px;
  }

  .leaderboard__left {
    min-height: 100px;
    min-width: 100px;
  }

  .leaderboard__page {
    font-size: 100px;
    min-height: 100px;
    min-width: 200px;
  }

  .leaderboard__right {
    min-height: 100px;
    min-width: 100px;
  }

  .leaderboard__table_row {
    margin-left: 15px;
    margin-right: 15px;
  }

  .leaderboard__table_row_element {
    font-size: 20px;
    /*min-height: 12px;*/
    min-height: 10px;
    padding: 1px;
    margin: 5px;
  }

  .leaderboard__number {
    min-width: 25px;
  }
  
  .leaderboard__ava {
    border-radius: 8px;
    min-width: 16px;
    min-height: 16px;
  }
  
  .leaderboard__name {
    min-width: 220px;
  }
  
  .leaderboard__points {
    min-width: 80px;
  }
  
  .leaderboard__time {
    min-width: 80px;
  }
}

/*avg 1000*/
@media screen and (min-width: 769px)  and (max-width: 1200px) {

  .leaderboard__board {
    border-radius: 16px;
    border-width: 5px;
  } 

  .leaderboard__Label {
    font-size: 80px;
  }

  /*table elements*/
  .leaderboard__table_header {
    font-size: 28px;
    min-height: 18px;
    line-height: 20px;
    padding: 2px;
    margin: 5px;
  }

  /*bottom panel*/
  .leaderboard__panel {
    margin-top: 100px;
    min-height: 50px;
    padding: 10px;
    margin: 20px;
  }

  .leaderboard__left {
    min-height: 100px;
    min-width: 100px;
  }

  .leaderboard__page {
    font-size: 100px;
    min-height: 100px;
    min-width: 200px;
  }

  .leaderboard__right {
    min-height: 100px;
    min-width: 100px;
  }

  .leaderboard__table_row {
    margin-left: 15px;
    margin-right: 15px;
  }

  .leaderboard__table_row_element {
    font-size: 25px;
    min-height: 10px;
    padding: 1px;
    margin: 5px;
  }

  .leaderboard__number {
    min-width: 50px;
  }
  
  .leaderboard__ava {
    border-radius: 20px;
    min-width: 40px;
    min-height: 40px;
  }
  
  .leaderboard__name {
    min-width: 320px;
  }
  
  .leaderboard__points {
    min-width: 130px;
  }
  
  .leaderboard__time {
    min-width: 130px;
  }
}

/*avg 1200*/
@media screen and (min-width: 1201px) {

  .leaderboard__board {
    border-radius: 16px;
    border-width: 5px;
  } 

  /*table elements*/
  .leaderboard__table_header {
    font-size: 28px;
    min-height: 18px;
    line-height: 20px;
    padding: 2px;
    margin: 5px;
  }

  /*bottom panel*/
  .leaderboard__panel {
    margin-top: 100px;
    min-height: 20px;
  }

  .leaderboard__left {
    min-height: 30px;
    min-width: 30px;
  }

  .leaderboard__page {
    font-size: 25px;
    min-height: 30px;
    min-width: 200px;
  }
  
  .leaderboard__right {
    min-height: 30px;
    min-width: 30px;
  }

  .leaderboard__table_row {
    margin-left: 15px;
    margin-right: 15px;
  }

  .leaderboard__table_row_element {
    font-size: 25px;
    min-height: 10px;
    padding: 1px;
    margin: 10px;
  }

  .leaderboard__number {
    min-width: 50px;
  }
  
  .leaderboard__ava {
    border-radius: 20px;
    min-width: 40px;
    min-height: 40px;
  }
  
  .leaderboard__name {
    min-width: 320px;
  }
  
  .leaderboard__points {
    min-width: 130px;
  }
  
  .leaderboard__time {
    min-width: 130px;
  }
}

.leaderboard__controls{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  min-width: 6rem;
}
.leaderboard__arrow{
  cursor: pointer;
}
.leaderboard__arrow__inactive{
  opacity: 0.2;
}

.leaderboard th{
  font-weight: bold
}

.leaderboard td,
th {
  font-size: calc(1.5vh + .5rem);
  text-align: center;
  padding: 0.5rem;
}

.leaderboard__back{
  width: 108px;
  height: 106px;
  background: url(/img/flag-right.png) no-repeat;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: contain;
  align-self: flex-start;
}