section(data-section-name='leaderboard')
  h1.leaderboard__header Таблица лидеров
  br
  .leaderboard
    .leaderboard__wrapper
      .flag_button_back
      .leaderboard__table
      .flag_button_back
    .leaderboard__controls
      img.arrow.arrow__inactive(src='../../img/arrow-left.png')
      img.arrow(src='../../img/arrow-right.png')
    a.back(data-href='menu', href='menu') Назад в меню