.leaderboard__header {
  text-align: center;
  padding-top: 1.5rem;
}

.leaderboard {
  display: flex;
  justify-content: center;
  display:flex;
  flex-direction: column;
}

.leaderboard__wrapper {
  margin-top: 10px;
  display:flex;
  justify-content: center;
  flex-direction: row;
}

.leaderboard__table {
  margin-top: 10px;
  display:flex;
  flex-direction: column;
}

/*
min-width  40% from media avg
min-height 50% from media avg
*/
.leaderboard__board {
  display:flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  border-radius: 5%;
  background-image: url('../../img/field.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #46535E; 
  border-style: solid; 
  float: left;
} 

/*
min-width  15% from media avg
min-height 15% from media avg
*/
.flag_button_back {
  background-image: url('../../img/flag_back.png');
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
} 

.leaderboard__table_row {
  display:flex;
  flex-direction: row;
  border-radius: 5px;
  color: white;
  margin-bottom: 5px;
}

.leaderboard__table_header {
  text-align: center;
  background-color:rgba(75, 94, 112, 0.71);
  display:flex;
  flex-direction: row;
  border-radius: 5px;
  color: white;
  margin-bottom: 5px;
}

.leaderboard__table_best {
  background-color:rgba(255, 61, 0, 0.5);
}

.leaderboard__table_usual {
  background-color:rgba(0, 0, 0, 0.4);
}

.leaderboard__Label {
  border-radius: 0 0 5px 5px;;
  background-color:#46535E;
  color: white;
  content: "leaderboard";
  text-align: center;
  font-size: 5vw;
  margin-bottom: 5px;
  padding: 4px;
}

.leaderboard__ava {
  background-image: url('../../img/qrosh.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.leaderboard__number {
  text-align: center;
}

/*avg 320*/
@media screen and (max-width: 320px) {

  .flag_button_back {
    min-width: 48px;
    min-height: 48px;
  }

  .leaderboard__board {
    min-width: 128px;
    min-height: 160px;
    border-width: 3px;
  }

  .leaderboard__block {
    margin: 5px;
  }

  .leaderboard__table_row_element {
    font-size: 12px;
  }
}

/*avg 400*/
@media screen and (min-width: 321px)  and (max-width: 480px) {

  .flag_button_back {
    min-width: 60px;
    min-height: 60px;
  }

  .leaderboard__board {
    min-width: 320px;
    min-height: 600px;
    border-width: 5px;
  }

  /*
  .leaderboard__left {
    margin-left: 30px;
    margin-right: 5x;
    margin-bottom: 5x;
    margin-top: 5x;
  }*/

  .leaderboard__block {
    margin: 5px;
  }

  .leaderboard__table_header {
    font-size: 15px;
    min-height: 16px;
    padding: 2px;
    margin: 5px;
  }

  .leaderboard__table_row_element {
    font-size: 14px;
    min-height: 12px;
    padding: 1px;
    margin: 5px;
  }

  .leaderboard__number {
    min-width: 28px;
  }
  
  .leaderboard__ava {
    border-radius: 7px;
    min-width: 14px;
  }
  
  .leaderboard__name {
    min-width: 160px;
  }
  
  .leaderboard__points {
    min-width: 60px;
  }
  
  .leaderboard__time {
    min-width: 60px;
  }
  
  
}

/*avg 600*/
@media screen and (min-width: 481px) and (max-width: 768px) {

  .flag_button_back {
    min-width: 90px;
    min-height: 90px;
  }
  .leaderboard__board {
    min-width: 240px;
    min-height: 300px;
    border-width: 8px;
  }

  .leaderboard__block {
    margin: 10px;
  }

  .leaderboard__table_row_element {
    font-size: 12px;
    min-height: 16px;
  }
}

/*avg 1000*/
@media screen and (min-width: 769px)  and (max-width: 1200px) {

  .flag_button_back {
    min-width: 150px;
    min-height: 150px;
  }
  .leaderboard__board {
    min-width: 400px;
    min-height: 500px;
    border-width: 12px;
  }

  .leaderboard__block {
    margin: 10px;
  }

  .leaderboard__table_row_element {
    font-size: 12px;
    min-height: 16px;
  }
}

/*avg 1200*/
@media screen and (min-width: 1201px) {

  .flag_button_back {
    min-width: 180px;
    min-height: 180px;
  }
  .leaderboard__board {
    min-width: 480px;
    min-height: 600px;
    border-width: 12px;
  }

  .leaderboard__block {
    margin: 15px;
  }

  .leaderboard__table_row_element {
    font-size: 12px;
    min-height: 16px;
  }
}

/* .leaderboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  background: white;
  align-items: center
} */

/* .leaderboard__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
} */

.leaderboard table {
  text-align: left;
}

.leaderboard__controls{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  min-width: 6rem;
}
.arrow{
  cursor: pointer;
}
.arrow__inactive{
  opacity: 0.2;
}

.leaderboard th{
  font-weight: bold
}

.leaderboard td,
th {
  font-size: calc(1.5vh + .5rem);
  text-align: center;
  padding: 0.5rem;
}