.leaderboard__filter_header Rank
.leaderboard__filter_ranks
  .leaderboard__filter_rank.baby Baby
  .leaderboard__filter_rank.passerby Passerby
  .leaderboard__filter_rank.normal Pioneer
  .leaderboard__filter_rank.master Master