.about {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: $escapade-gradient;

  &__header {
    text-align: center;
    padding-top: 1.5rem;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__back {
    width: 108px;
    height: 106px;
    background: url('./img/flag-right.png') no-repeat;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-size: contain;
  }

  &__back:hover {
    animation: go-left .4s linear .2s 1 normal forwards;
  }

  &__escapade {
    background: #FF3D00;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: calc(1rem + 2vw);
    padding: 10px 10px
  }

}

.team {
  margin: 1vmin;
  margin-top: 4vmin;
  display: grid;
  font-size: 2.5vmin;
  grid-template-columns: 1.5fr 1.5fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  .team__name,
  &__role {
    font-family: Saira;
    padding: 1vmin;
    text-align: center;
    background: #46535E;
    border-radius: 30px;
    color: white;
    font-size: calc(1rem + 2vw)
  }

  &__a {
    color: white;
    text-decoration: none;
    border-radius: 14px;
  }

  &__a:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}