extends ../Header.pug

block content
  section(data-section-name='about')
    .about
      .about__wrapper
        .team
          .team__name
            a.team__a(href='https://github.com/dlipko') Дмитрий Липко
          .team__role Лучший ментор
          .team__name
            a.team__a(href='https://github.com/SmartPhoneJava') Артём Доктор
          .team__role Fullstack
          .team__name
            a.team__a(href='https://github.com/slevinsps') Иван Спасенов
          .team__role Fullstack
          .team__name
            a.team__a(href='https://github.com/Bigyin1') Сергей Апарин
          .team__role Fullstack
        a.back(data-href='menu', href='menu') Назад в меню