section(data-section-name='menu')
  header#header.menu-header
    h1 Logic game
    nav
      a.menu-button(href='sign_in', data-href='sign_in') Sign In
      a.menu-button(href='sign_up', data-href='sign_up') Sign Up
      a.menu-button(href='profile', data-href='profile') Profile
  #main.menu-wrapper
    #menu.menu-wrapper__menu
      a.menu__link(href='sign_in', data-href='sign_in') Играть вдвоем
      br
      a.menu__link(href='sign_up', data-href='sign_up') Играть одному
      br
      a.menu__link(href='leaders', data-href='leaders') Таблица лидеров
      br
      a.menu__link(href='about', data-href='about') О нас
      br